//! **************************************************************************
// Written by: Map P.20131013 on Thu May 08 22:01:40 2025
//! **************************************************************************

SCHEMATIC START;
COMP "LD" LOCATE = SITE "M5" LEVEL 1;
COMP "BTN3" LOCATE = SITE "A7" LEVEL 1;
COMP "MClk" LOCATE = SITE "B8" LEVEL 1;
NET "MClk_BUFGP/IBUFG" BEL "MClk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

